*.o
*~
*.bak
TAGS
.dirstamp
.flatpak-builder
/src/fwk/base/testmoniker
/src/fwk/base/testgeometry
/src/fwk/base/testdate
/src/fwk/base/testmap
/src/fwk/base/testoption
/src/fwk/base/testpropertybag
/src/fwk/utils/testfiles
/src/fwk/utils/testpathutils
/src/fwk/utils/teststringutils
/src/fwk/utils/testufrawmeta
/src/fwk/utils/testxmp
/src/fwk/toolkit/testconfigdatabinder
/src/libraryclient/test_worker
/src/engine/test_library
/src/engine/test_filebundle
/src/engine/test_opqueue
/src/niepce/niepce
/src/niepce/npc-resources.c
/src/niepce/npc-resources.gresource
/src/niepce/npc-resources.h
/doc/Doxyfile
/doc/doxygen/html
po/*.pot
po/*.gmo
po/POTFILES
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.s*
/niepce-main/src/config.rs
target/
**/*.rs.bk
crates/npc-*/Cargo.lock
__bindgen.cpp
__bindgen.ii
